html {
    background-color: #FFEEDF;
    font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif, system-ui;
    color: #2B2222;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Anonymous Pro', monospace, 'Courier New', Courier, system-ui;
}

.turbo-progress-bar {
    visibility: hidden;
}

.placeholder {
    text-align: center;
}