html {
    background-color: #eae7dc;
    font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif, system-ui;
    color: #2B2222;
}

h1 {
    font-family: 'Anonymous Pro', monospace, 'Courier New', Courier, system-ui;
}

.turbo-progress-bar {
    visibility: hidden;
}

.placeholder {
    text-align: center;
}