---
import Bar from "../components/Bar.svelte";
import Base from "../components/Base.svelte";
---

<script>
	import { newPage } from '../scripts/pagestate.js';
	newPage.set((window.location.href != document.referrer));
	console.log(newPage);
</script>
<Bar/>
<Base title={"About"}>
    <div></div>
</Base>