---
import Layout from '../layouts/Layout.astro';
import BlogLayout from '../layouts/BlogLayout.astro';

const posts = (await Astro.glob("./blog/*.md")).sort((a, b) =>
    new Date(b.frontmatter.lastUpdate).valueOf() -
    new Date(a.frontmatter.lastUpdate).valueOf()
);
---

<Layout title="Leon Wang | Blog">
    <div style="padding-block-end: 4rem;"></div>
    <BlogLayout posts={posts} />
</Layout>