---
import Layout from '../layouts/Layout.astro';
import BlogLayout from '../layouts/BlogLayout.astro';

const posts = (await Astro.glob("./blog/*.md")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Blog">
    <div style="padding-block-end: 3rem;"></div>
    <BlogLayout posts={posts} />
</Layout>