---
import leonlogo from '../images/leonlogo.png';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div id="flexbox">
		<div id="child">
			<img id="logo" src={leonlogo} alt="leon-logo"/>
		</div>
		<h1 id="name">Leon Wang</h1>
	</div>
</Layout>

<style>
	#flexbox {
		justify-content: space-around;
		padding: 2rem;
		display: flex;
		align-items: center;
	}
	#name {
		flex: 1;
    	font-size: 8rem;
    	line-height: 1;
		text-align: center;
	}
	#logo {
		display: flex;
		width: 400px;
		height: auto;
	}
	#child {
		margin-right: 6rem;
		margin-left: 6rem;
	}
</style>