---
import '../styles/card.css';
import Tag from '../components/Tag.svelte';
import { getDate } from '../scripts/date';
const { posts } = Astro.props;
---

<ul id="cards">
    {
      posts.map((post, index) => (
          <li id="card-box">
                <div id="card">
                    <a id="url" href={post.url}>
                      <div style="height: 14rem;">
                        <div style="padding: 2.5rem;">
                          <span id="card-title">{post.frontmatter.title}</span>
                          <p>{post.frontmatter.description}</p>
                          <div style="display: flex; justify-content: space-between;">
                              { 
                                (post.frontmatter.lastUpdate === post.frontmatter.pubDate) ?
                                <p style="opacity: 0.6; font-size: 0.8rem;">{getDate(new Date(post.frontmatter.pubDate))}</p> :
                                <p style="opacity: 0.6; font-size: 0.8rem;">{getDate(new Date(post.frontmatter.lastUpdate))}</p>
                              }
                          </div>
                        </div>
                      </div>
                    </a>
                    <div id="tag-box">
                        {post.frontmatter.tags.map((tag) => <Tag tagName={tag}/>)}
                    </div>
                </div>
          </li>
      ))
    }
</ul>
