---
import '../styles/global.css';
import Bar from '../components/Bar.svelte';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.svelte';

const { frontmatter } = Astro.props;

let tags : Array<string> = frontmatter.tags;
function getDate(input : Date) : string {
	const options : object = { year: 'numeric', month: 'long', day: 'numeric' };
	return input.toLocaleDateString(undefined, options);
}
let date = getDate(new Date(frontmatter.pubDate));
let update = getDate(new Date(frontmatter.lastUpdate));
if (frontmatter.lastUpdate === null) { update = null; }
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={Astro.url.origin + "/favicon.svg"} />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title + " | Blog"}</title>
		<script>
			import '../scripts/turbo.ts';
		</script>
	</head>
	<body>
		<Bar client:only/>
		<Header/>
		<main>
			<div id="content">
				<div id="post">
					<a href="/blog" id="back">&#5130;&#5130; back</a>
					<h1 id="blog-title">{frontmatter.title}</h1>
					<p>{frontmatter.description}</p>
					<nav id="tags">
						{tags.map((tag) => <a class="tag">{tag}</a>)}
					</nav>
					<p id="date">{"Published on " + date}</p>
					{date != update && update != null && <p id="update" style="margin-block-start: 0.2em;">{"Last updated on " + update}</p>}
					<div style="margin-block: 2.5em;"></div>
					<slot />
				</div>
			</div>
		</main>
		<Footer/>
	</body>
</html>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-rendering: optimizeLegibility;
	}
	.tag {
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.8rem;
		line-height: 1;
		padding: 0.2em 0.5em;
		margin-right: 0.8em;
		background-color: #E6A595;
		text-decoration: none;
	}
	#content {
		max-width: 768px;
		width: 100%;
	}
	#post {
		padding-left: 2rem;
		padding-right: 2rem;
		text-align: left;
	}
	#blog-title {
		font-size: 3rem;
		margin-block-start: 0.5em;
		margin-block-end: 0.2em;
	}
	#date, #update {
		margin-block-end: 0.2em;
		opacity: 0.7;
		font-size: 0.75rem;
	}
	#tags {
		display: inline;
		line-height: 1.5;
	}
	#back, #back:visited {
		color: inherit;
		text-decoration: none;
		opacity: 0.7;
		font-size: 0.8rem;
	}
	#back:hover {
		opacity: 1;
	}
</style>
